body {
  margin: 0;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#kv_root {
  position: fixed;
  top: 120px;
  right: 100px;
  z-index: 999999;
  display: flex;
  gap: 10px;
}
